body  {
  background-image: url("background.png");
}

#nav-table { 
  width: 800px;
}

#nav-td {
  width: 200px; 
  text-align:center;
}

#float-right {
  float: right;
}

#float-left {
  float: left;
}
