body {
           background-color: rgb(201, 76, 76);
}

#nav-table { 
           width: 800px;
}

#nav-td {
           width: 200px; 
           text-align:center;
}

#banner img {
           width:100%;
           height:100%;
}
